* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: #222;
  background-color: #fff;
  z-index: 1;
  height: 100%;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}

/* navigation */
.navigation {
  padding: 1.6rem 0;
}

.nav-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.logo {
  color: #222;
}

.logo span {
  color: #f60091;
}

.nav-top {
  display: none;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-item {
  padding: 0 1rem;
}

.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0 0.2rem;
  font-size: 1.5rem;
  color: #222;
  text-transform: uppercase;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: #f60091;
  -webkit-transition: -webkit-transform 500ms;
  transition: -webkit-transform 500ms;
  transition: transform 500ms;
  transition: transform 500ms, -webkit-transform 500ms;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.nav-icons span:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-icons span {
  font-size: 1.6rem;
  border-radius: 50%;
  border: 1px solid #444;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav-icons span:hover {
  background-color: #f60091;
}

.nav-icons .fas {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.nav-icons span:hover .fas {
  color: #fff;
}

.humburger {
  display: none;
}

@media only screen and (max-width: 996px) {
  .nav-item:not(:last-child) {
    margin-right: 0.3rem;
  }
  .nav-item {
    padding: 0 0.5rem;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .nav-icons span {
    font-size: 1.6rem;
    padding: 0.3rem 0.7rem;
  }
}

@media only screen and (max-width: 768px) {
  .navigation.show {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    z-index: 9990;
    background-color: #fff;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
  }
  .nav-menu.show {
    left: 0;
  }
  .nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    padding: 2rem 0;
  }
  .nav-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #f60091;
    padding: 1.6rem 2rem;
  }
  .nav-top .logo h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;
  }
  .nav-top .logo h1 span {
    color: #fff;
  }
  .humburger {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .close {
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
  }
  .nav-item:not(:last-child) {
    margin-bottom: 1rem;
  }
  .nav-link {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 2rem;
  }
  .nav-icons {
    display: none;
    border: none;
    font-size: 1.6rem;
  }
  .nav-item span:last-child {
    display: block;
  }
  body.show::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
}

/*===================Hero================*/
.hero,
.glide__hero,
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #d1e2e9;
}

.banner img {
  position: absolute;
  bottom: 0;
}

.banner img.special-01 {
  width: 85rem;
  right: -5%;
}

.banner img.special-02 {
  width: 100rem;
  right: -10%;
}

.banner img.special-03 {
  width: 100rem;
  right: -10%;
}

.banner-content {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(25%, -50%);
          transform: translate(25%, -50%);
}

.banner-content span {
  display: inline-block;
  font-size: 1.4rem;
  color: #444;
  margin-bottom: 1rem;
}

.banner-content h1 {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.banner-content h3 {
  font-weight: 400;
  color: #444;
  margin-bottom: 2rem;
}

.buttons-group button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid #222;
  outline: none;
  padding: 1.3rem 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.buttons-group button:first-child {
  background-color: #222;
  color: #fff;
}

.buttons-group button:first-child:hover {
  background-color: transparent;
  color: #222;
}

.buttons-group button:last-child:hover {
  background-color: #222;
  color: #fff;
}

@media only screen and (max-width: 1200px) {
  .hero,
  .glide__hero,
  .banner {
    height: 90vh;
  }
  .banner img.special-01 {
    width: 60rem;
  }
  .banner img.special-02 {
    width: 70rem;
  }
  .banner img.special-03 {
    width: 70rem;
  }
}

@media only screen and (max-width: 996px) {
  .banner-content {
    width: 60%;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  .banner img.special-01 {
    left: 50%;
    width: 60rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .banner img.special-02 {
    left: 50%;
    width: 60rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .banner img.special-03 {
    left: 55%;
    width: 60rem;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@media only screen and (max-width: 768px) {
  .banner-content {
    width: 90%;
  }
  .hero,
  .glide__hero,
  .banner {
    height: 95vh;
  }
}

@media only screen and (max-width: 567px) {
  .banner-content h1 {
    font-size: 3rem;
  }
  .banner-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .buttons-group button {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
  }
}

/* Category */
.section {
  padding: 5rem 0;
}

.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}

.category-center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.category-box {
  position: relative;
  border-radius: 0.5rem;
  height: 25rem;
  overflow: hidden;
  z-index: 1;
}

.category-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(30%, rgba(0, 0, 0, 0.4)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4) 30% transparent);
  z-index: 2;
}

.category-box img {
  height: 27rem;
  width: 100%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.category-box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.category-box .content {
  position: absolute;
  top: 30%;
  left: 5%;
  color: #fff;
  z-index: 4;
}

.category-box .content h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.category-box .content span {
  display: block;
  margin-bottom: 1rem;
}

.category-box .content a {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  padding: 0.7rem 1.3rem;
  border: 1px solid #fff;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

.category-box:hover .content a {
  border: 1px solid #222;
  background-color: #222;
}

@media only screen and (max-width: 1200px) {
  .category-box .content h2 {
    font-size: 2rem;
  }
  .category-box .content span {
    font-size: 1.5rem;
  }
  .category-box .content a {
    font-size: 1.5rem;
    padding: 0.5rem 1.1rem;
  }
}

@media only screen and (max-width: 996px) {
  .category-center {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 768px) {
  .category-box {
    height: 20rem;
  }
}

@media only screen and (max-width: 567px) {
  .category-center {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .category-box {
    height: 20rem;
    max-width: 35rem;
    margin: 0 auto;
  }
  .category-box .content {
    top: 20%;
  }
}

/* Sort products */
.title-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  background-color: #d1e2e9;
}

.section-titles:not(:last-child) {
  margin-right: 1.5rem;
}

.section-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.section-title .primary-title {
  font-size: 1.8rem;
  opacity: 0.6;
  padding-left: 0.5rem;
  font-weight: inherit;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

span.dot {
  opacity: 0.6;
  padding: 0.45rem;
  position: relative;
  border: 1px solid #222;
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.section-title:hover .primary-title,
.section-title:hover span.dot,
.section-title:hover span.dot::before {
  opacity: 1;
}

.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #222;
  background-color: #222;
  margin: 1px;
  opacity: 0.6;
}

.section-title.active span.dot {
  opacity: 1;
}

.section-title.active span.dot::before {
  opacity: 1;
}

.section-title.active .primary-title {
  opacity: 1;
}

@media only screen and (max-width: 567px) {
  .title-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-titles:not(:last-child) {
    margin: 0 0 1.3rem;
  }
}

/* Product center*/
.product-center {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.product {
  text-align: center;
  position: relative;
  padding: 0 1rem;
}

.product-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 28rem;
}

.product-header img.small {
  max-height: 20rem;
}

.product-footer h3 {
  font-weight: 500;
  font-size: 1.6rem;
  color: #444;
}

.product-price h4 {
  font-weight: 500;
}

.product ul {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 50%;
  left: 50%;
  width: 17rem;
  height: 5rem;
  -webkit-transform: translate(-50%, -50%) scale(0.7);
          transform: translate(-50%, -50%) scale(0.7);
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.product:hover ul {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.product:hover ul i {
  color: #fff;
}

.product ul li:not(:last-child) {
  margin-right: 1.6rem;
}

.product ul a:link,
.product ul a:visited {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f60091;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.product ul a:hover {
  background-color: #222;
}

.product ul a::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  width: 0;
  height: 0;
  border-top: 3px solid #f60091;
  border-left: 3px solid #f60091;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.product ul a::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  right: -0.6rem;
  width: 0;
  height: 0;
  border-bottom: 3px solid #f60091;
  border-right: 3px solid #f60091;
  z-index: 1;
  opacity: 0;
  -webkit-transition: 500ms;
  transition: 500ms;
}

.product ul a:hover::before {
  width: 126%;
  height: 126%;
  border-top: 3px solid #f60091;
  border-left: 3px solid #f60091;
  opacity: 1;
}

.product ul a:hover::after {
  width: 126%;
  height: 126%;
  border-bottom: 3px solid #f60091;
  border-right: 3px solid #f60091;
  opacity: 1;
}

@media only screen and (max-width: 768px) {
  .product-center {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .product-header {
    height: 20rem;
  }
  .product-header img.small {
    max-height: 20rem;
  }
}

@media only screen and (max-width: 567px) {
  .product-header {
    height: 15rem;
  }
}

/* Gallery section ++++++++++++++++++++++++*/
.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  -ms-grid-rows: (4vw)[6];
      grid-template-rows: repeat(6, 4vw);
  gap: 2rem;
}

.gallery-item {
  overflow: hidden;
  position: relative;
}

.gallery-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.gallery-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
  -webkit-transition: all 500ms linear;
  transition: all 500ms linear;
}

.gallery-item:hover .gallery-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.gallery-item .content {
  position: absolute;
  top: 50%;
  left: -50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  z-index: 10;
  color: #fff;
  width: 100%;
  text-align: center;
}

.gallery-item .content h2 {
  font-size: 2rem;
  font-weight: 500;
}

.gallery-item .content a {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid #fff;
  color: #fff;
  margin-top: 2rem;
}

.item-1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 7;
  -ms-grid-row: 1;
      grid-row-start: 1;
}

.item-2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  grid-row-end: 1;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.item-3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 7;
  grid-row-end: 1;
  -ms-grid-row: 4;
      grid-row-start: 4;
}

.item-4 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  grid-row-end: 4;
  -ms-grid-row: 7;
      grid-row-start: 7;
}

@media only screen and (max-width: 996px) {
  .gallery-item .content h2 {
    font-size: 1.6rem;
  }
  .gallery-item .content a {
    padding: 0.7rem 1.3rem;
    margin-top: 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  .gallery-item .content h2 {
    font-size: 1.4rem;
  }
  .gallery-item .content a {
    padding: 0.4rem 1rem;
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  .gallery {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[6];
        grid-template-columns: repeat(6, 1fr);
    -ms-grid-rows: (4vw)[20];
        grid-template-rows: repeat(20, 4vw);
    gap: 2rem;
  }
  .item-1 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 7;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }
  .item-2 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 7;
    -ms-grid-row: 11;
        grid-row-start: 11;
  }
  .item-3 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 11;
    -ms-grid-row: 15;
        grid-row-start: 15;
  }
  .item-4 {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 15;
    -ms-grid-row: 19;
        grid-row-start: 19;
  }
}

.brand li img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  height: 12rem;
}

@media only screen and (max-width: 567px) {
  .brand li img {
    height: 10rem;
  }
}

/* Facility +++++++++++++++++++++++++++*/
.facility {
  background-color: #d1e2e9;
  padding: 6rem 0;
}

.facility-container {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.facility-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.facility-icon {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1px solid #fff;
  z-index: 1;
  margin-bottom: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.facility-icon::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0.7rem;
  background-color: #fff;
  z-index: -1;
}

.facility-icon i {
  font-size: 2rem;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

.facility-box:hover i {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

@media only screen and (max-width: 998px) {
  .facility-container {
    -ms-grid-columns: 1fr, 1fr;
        grid-template-columns: 1fr, 1fr;
    gap: 1rem 0;
  }
}

@media only screen and (max-width: 567px) {
  .facility-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 2rem 0;
  }
  .facility-icon {
    width: 7rem;
    height: 7rem;
    line-height: 8.5rem;
  }
  .facility-container p {
    font-size: 1.4rem;
  }
}

/* POP Up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999999;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: scale(0.2);
          transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

.popup.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 55rem;
  margin: 0 auto;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: #fff;
}

.popup-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1.5rem 1.7rem;
  background-color: #d1e2e9;
  border-radius: 50%;
  cursor: pointer;
}

.popup-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img {
  width: 100%;
  overflow: hidden;
}

.popup-img img {
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.popup-right {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.right-content {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}

.right-content h1 {
  font-size: 4rem;
  font-weight: 500;
  color: #222;
  margin-bottom: 1.6rem;
}

.right-content h1 span {
  color: #59b210;
}

.right-content p {
  font-size: 1.8rem;
  color: #444;
  margin-bottom: 1.6rem;
}

.popup-input {
  width: 100%;
  padding: 2rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: #d1e2e9;
  border: none;
}

.popup-input:focus {
  outline: none;
}

.right-content a:link,
.right-content a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  background-color: #222;
  border: 1px solid #959595;
  font-weight: 700;
  -webkit-transition: 300ms;
  transition: 300ms;
  color: #fff;
}

.right-content a:hover {
  background-color: #59b210;
  border: 1px solid #959595;
  color: #222;
}

@media only screen and (max-width: 1200px) {
  .right-content {
    width: 100%;
  }
  .right-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.4rem;
  }
}

@media only screen and (max-width: 996px) {
  .popup-right {
    width: 100%;
  }
  .popup-left {
    display: none;
  }
  .right-content h1 {
    font-size: 4rem;
  }
  .right-content h1 {
    font-size: 4rem;
  }
  .right-content p {
    font-size: 1.6rem;
  }
  .popup-input {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }
}

@media only screen and (max-width: 567px) {
  .popup-right {
    padding: 0 1.6rem;
  }
  .popup-content {
    width: 90%;
    height: 40rem;
    margin: 0 auto;
  }
  .right-content {
    width: 100%;
  }
  .right-content h1 {
    font-size: 3rem;
  }
  .right-content p {
    font-size: 1.6rem;
  }
  .popup-input {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }
  .right-content a:link,
  .right-content a:visited {
    padding: 1.5rem 3rem;
  }
  .popup-close {
    top: 1rem;
    right: 1rem;
    padding: 1.3rem;
  }
}

/* Footer*/
.footer {
  background-color: #222;
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-center span {
  margin-right: 1rem;
}

.footer-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  color: #fff;
}

.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: #959595;
  font-size: 1.4rem;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.footer-center a:hover {
  color: #f60091;
}

.footer-center div {
  color: #959595;
  font-size: 1.4rem;
}

.footer-center h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */