$pink: #f60091;
$yellow: #ffd800;
$green: #59b210;
$white: #fff;
$black: #222;
$gray: #444;
$gray2: #959595;
$gray-alt: #d1e2e9;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: $black;
  background-color: $white;
  z-index: 1;
  height: 100%;
}
li,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  max-height: 100%;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
}
@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}
@media only screen and (max-width: 768px) {
  .container {
    padding: 0 5rem;
  }
}
/* navigation */

.navigation {
  padding: 1.6rem 0;
}
.nav-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: $white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
.logo {
  color: $black;
}
.logo span {
  color: $pink;
}
.nav-top {
  display: none;
}
.nav-list {
  display: flex;
  align-items: center;
}
.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}
.nav-item {
  padding: 0 1rem;
}
.nav-link {
  position: relative;
  display: inline-block;
  padding: 0.5rem 0 0.2rem;
  font-size: 1.5rem;
  color: $black;
  text-transform: uppercase;
  transition: all 500ms ease-in-out;
}
.nav-link::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background-color: $pink;
  transition: transform 500ms;
  transform: scaleX(0);
  transform-origin: left;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}
.nav-icons span:not(:last-child) {
  margin-right: 0.5rem;
}
.nav-icons span {
  font-size: 1.6rem;
  border-radius: 50%;
  border: 1px solid $gray;
  padding: 0.3rem 0.7rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.nav-icons span:hover {
  background-color: $pink;
}
.nav-icons .fas {
  transition: all 300ms ease-in-out;
}
.nav-icons span:hover .fas {
  color: $white;
}
.humburger {
  display: none;
}
@media only screen and (max-width: 996px) {
  .nav-item:not(:last-child) {
    margin-right: 0.3rem;
  }
  .nav-item {
    padding: 0 0.5rem;
  }
  .nav-link {
    font-size: 1.5rem;
  }
  .nav-icons span {
    font-size: 1.6rem;
    padding: 0.3rem 0.7rem;
  }
}
@media only screen and (max-width: 768px) {
  .navigation.show {
    background-color: rgba(0, 0, 0, 0.6);
  }
  .nav-menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 80%;
    height: 100vh;
    z-index: 9990;
    background-color: $white;
    transition: all 500ms linear;
  }
  .nav-menu.show {
    left: 0;
  }
  .nav-list {
    flex-direction: column;
    align-items: start;
    padding: 2rem 0;
  }
  .nav-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $pink;
    padding: 1.6rem 2rem;
  }
  .nav-top .logo h1 {
    font-size: 1.8rem;
    font-weight: 500;
    color: $white;
  }
  .nav-top .logo h1 span {
    color: $white;
  }
  .humburger {
    display: block;
    font-size: 2.5rem;
    cursor: pointer;
  }
  .close {
    font-size: 2rem;
    color: $white;
    cursor: pointer;
  }
  .nav-item:not(:last-child) {
    margin-bottom: 1rem;
  }
  .nav-link {
    font-size: 1.8rem;
    width: 100%;
    padding: 1rem 2rem;
  }
  .nav-icons {
    display: none;
    border: none;
    font-size: 1.6rem;
  }
  .nav-item span:last-child {
    display: block;
  }
  body.show::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
  }
}
/*===================Hero================*/
.hero,
.glide__hero,
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $gray-alt;
}
.banner img {
  position: absolute;
  bottom: 0;
}
.banner img.special-01 {
  width: 85rem;
  right: -5%;
}
.banner img.special-02 {
  width: 100rem;
  right: -10%;
}
.banner img.special-03 {
  width: 100rem;
  right: -10%;
}
.banner-content {
  position: absolute;
  top: 50%;
  transform: translate(25%, -50%);
  span {
    display: inline-block;
    font-size: 1.4rem;
    color: $gray;
    margin-bottom: 1rem;
  }
  h1 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }
  h3 {
    font-weight: 400;
    color: $gray;
    margin-bottom: 2rem;
  }
}
.buttons-group button {
  display: inline-block;
  background-color: transparent;
  border: 1px solid $black;
  outline: none;
  padding: 1.3rem 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
  transition: all 300ms ease-in-out;
}
.buttons-group button:first-child {
  background-color: $black;
  color: $white;
}
.buttons-group button:first-child:hover {
  background-color: transparent;
  color: $black;
}
.buttons-group button:last-child:hover {
  background-color: $black;
  color: $white;
}
@media only screen and (max-width: 1200px) {
  .hero,
  .glide__hero,
  .banner {
    height: 90vh;
  }
  .banner img.special-01 {
    width: 60rem;
  }
  .banner img.special-02 {
    width: 70rem;
  }
  .banner img.special-03 {
    width: 70rem;
  }
}
@media only screen and (max-width: 996px) {
  .banner-content {
    width: 60%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .banner img.special-01 {
    left: 50%;
    width: 60rem;
    transform: translateX(-50%);
  }
  .banner img.special-02 {
    left: 50%;
    width: 60rem;
    transform: translateX(-50%);
  }
  .banner img.special-03 {
    left: 55%;
    width: 60rem;
    transform: translateX(-50%);
  }
}
@media only screen and (max-width: 768px) {
  .banner-content {
    width: 90%;
  }
  .hero,
  .glide__hero,
  .banner {
    height: 95vh;
  }
}
@media only screen and (max-width: 567px) {
  .banner-content h1 {
    font-size: 3rem;
  }
  .banner-content h3 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .buttons-group button {
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
  }
}
/* Category */
.section {
  padding: 5rem 0;
}
.title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 3rem;
}
.category-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.category-box {
  position: relative;
  border-radius: 0.5rem;
  height: 25rem;
  overflow: hidden;
  z-index: 1;
}
.category-box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.4) 30% transparent
  );
  z-index: 2;
}
.category-box img {
  height: 27rem;
  width: 100%;
  transition: all 500ms linear;
}
.category-box:hover img {
  transform: scale(1.1);
}
.category-box .content {
  position: absolute;
  top: 30%;
  left: 5%;
  color: $white;
  z-index: 4;
}
.category-box .content h2 {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.category-box .content span {
  display: block;
  margin-bottom: 1rem;
}
.category-box .content a {
  display: inline-block;
  color: $white;
  text-transform: uppercase;
  padding: 0.7rem 1.3rem;
  border: 1px solid $white;
  transition: all 300ms linear;
}
.category-box:hover .content a {
  border: 1px solid $black;
  background-color: $black;
}
@media only screen and (max-width: 1200px) {
  .category-box .content h2 {
    font-size: 2rem;
  }
  .category-box .content span {
    font-size: 1.5rem;
  }
  .category-box .content a {
    font-size: 1.5rem;
    padding: 0.5rem 1.1rem;
  }
}
@media only screen and (max-width: 996px) {
  .category-center {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 768px) {
  .category-box {
    height: 20rem;
  }
}
@media only screen and (max-width: 567px) {
  .category-center {
    grid-template-columns: 1fr;
  }
  .category-box {
    height: 20rem;
    max-width: 35rem;
    margin: 0 auto;
  }
  .category-box .content {
    top: 20%;
  }
}
/* Sort products */

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  margin-bottom: 2rem;
  background-color: $gray-alt;
}
.section-titles:not(:last-child) {
  margin-right: 1.5rem;
}
.section-title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .primary-title {
    font-size: 1.8rem;
    opacity: 0.6;
    padding-left: 0.5rem;
    font-weight: inherit;
    transition: all 300ms ease-in-out;
  }
}
span.dot {
  opacity: 0.6;
  padding: 0.45rem;
  position: relative;
  border: 1px solid $black;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.section-title:hover .primary-title,
.section-title:hover span.dot,
.section-title:hover span.dot::before {
  opacity: 1;
}
.dot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid $black;
  background-color: $black;
  margin: 1px;
  opacity: 0.6;
}
.section-title.active span.dot {
  opacity: 1;
}
.section-title.active span.dot::before {
  opacity: 1;
}
.section-title.active .primary-title {
  opacity: 1;
}
@media only screen and (max-width: 567px) {
  .title-container {
    flex-direction: column;
  }
  .section-titles:not(:last-child) {
    margin: 0 0 1.3rem;
  }
}

/* Product center*/
.product-center {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}
.product {
  text-align: center;
  position: relative;
  padding: 0 1rem;
}
.product-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 28rem;
  img.small {
    max-height: 20rem;
  }
}
.product-footer h3 {
  font-weight: 500;
  font-size: 1.6rem;
  color: $gray;
}
.product-price h4 {
  font-weight: 500;
}
.product ul {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  width: 17rem;
  height: 5rem;
  transform: translate(-50%, -50%) scale(0.7);
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}
.product:hover ul {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  i {
    color: $white;
  }
}
.product ul li:not(:last-child) {
  margin-right: 1.6rem;
}
.product ul a:link,
.product ul a:visited {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $pink;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: all 500ms ease-in-out;
}
.product ul a:hover {
  background-color: $black;
}
.product ul a::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  width: 0;
  height: 0;
  border-top: 3px solid $pink;
  border-left: 3px solid $pink;
  z-index: 1;
  opacity: 0;
  transition: 500ms;
}
.product ul a::after {
  content: "";
  position: absolute;
  bottom: -0.6rem;
  right: -0.6rem;
  width: 0;
  height: 0;
  border-bottom: 3px solid $pink;
  border-right: 3px solid $pink;
  z-index: 1;
  opacity: 0;
  transition: 500ms;
}
.product ul a:hover::before {
  width: 126%;
  height: 126%;
  border-top: 3px solid $pink;
  border-left: 3px solid $pink;
  opacity: 1;
}
.product ul a:hover::after {
  width: 126%;
  height: 126%;
  border-bottom: 3px solid $pink;
  border-right: 3px solid $pink;
  opacity: 1;
}
@media only screen and (max-width: 768px) {
  .product-center {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-header {
    height: 20rem;
  }

  .product-header img.small {
    max-height: 20rem;
  }
}

@media only screen and (max-width: 567px) {
  .product-header {
    height: 15rem;
  }
}

/* Gallery section ++++++++++++++++++++++++*/

.gallery {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 4vw);
  gap: 2rem;
}
.gallery-item {
  overflow: hidden;
  position: relative;
}
.gallery-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.gallery-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 500ms linear;
}
.gallery-item:hover .gallery-img {
  transform: scale(1.1);
}
.gallery-item .content {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(50%, -50%);
  z-index: 10;
  color: $white;
  width: 100%;
  text-align: center;
}
.gallery-item .content h2 {
  font-size: 2rem;
  font-weight: 500;
}
.gallery-item .content a {
  display: inline-block;
  padding: 1rem 1.5rem;
  border: 1px solid $white;
  color: $white;
  margin-top: 2rem;
}
.item-1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-end: 7;
  grid-row-start: 1;
}
.item-2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-end: 1;
  grid-row-start: 4;
}
.item-3 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-end: 1;
  grid-row-start: 4;
}
.item-4 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-end: 4;
  grid-row-start: 7;
}

@media only screen and (max-width: 996px) {
  .gallery-item .content h2 {
    font-size: 1.6rem;
  }
  .gallery-item .content a {
    padding: 0.7rem 1.3rem;
    margin-top: 1.5rem;
  }
}
@media only screen and (max-width: 768px) {
  .gallery-item .content h2 {
    font-size: 1.4rem;
  }
  .gallery-item .content a {
    padding: 0.4rem 1rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 600px) {
  .gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(20, 4vw);
    gap: 2rem;
  }
  .item-1 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 7;
    grid-row-start: 1;
  }
  .item-2 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 7;
    grid-row-start: 11;
  }
  .item-3 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 11;
    grid-row-start: 15;
  }
  .item-4 {
    grid-column-start: 1;
    grid-column-end: 7;
    grid-row-end: 15;
    grid-row-start: 19;
  }
}
.brand li img {
  width: 100%;
  object-fit: contain;
  height: 12rem;
}
@media only screen and (max-width: 567px) {
  .brand li img {
    height: 10rem;
  }
}
/* Facility +++++++++++++++++++++++++++*/

.facility {
  background-color: $gray-alt;
  padding: 6rem 0;
}
.facility-container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}
.facility-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.facility-icon {
  text-align: center;
  position: relative;
  display: inline-block;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1px solid $white;
  z-index: 1;
  margin-bottom: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.facility-icon::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0.7rem;
  background-color: $white;
  z-index: -1;
}
.facility-icon i {
  font-size: 2rem;
  transition: all 500ms ease-in-out;
}
.facility-box:hover i {
  transform: rotateY(180deg);
}
@media only screen and (max-width: 998px) {
  .facility-container {
    grid-template-columns: 1fr, 1fr;
    gap: 1rem 0;
  }
}
@media only screen and (max-width: 567px) {
  .facility-container {
    grid-template-columns: 1fr;
    gap: 2rem 0;
  }
  .facility-icon {
    width: 7rem;
    height: 7rem;
    line-height: 8.5rem;
  }
  .facility-container p {
    font-size: 1.4rem;
  }
}
/* POP Up */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999999999;
  transition: 300ms;
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}
.popup.show {
  transform: scale(1);
  opacity: 1;
  visibility: visible;
}
.popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 55rem;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: $white;
}
.popup-close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1.5rem 1.7rem;
  background-color: $gray-alt;
  border-radius: 50%;
  cursor: pointer;
}
.popup-left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}
.popup-right {
  display: table-cell;
  width: 50%;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup-img {
  width: 100%;
  overflow: hidden;
}
.popup-img img {
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}
.popup-right {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.right-content {
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.right-content h1 {
  font-size: 4rem;
  font-weight: 500;
  color: $black;
  margin-bottom: 1.6rem;
}
.right-content h1 span {
  color: $green;
}
.right-content p {
  font-size: 1.8rem;
  color: $gray;
  margin-bottom: 1.6rem;
}
.popup-input {
  width: 100%;
  padding: 2rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: $gray-alt;
  border: none;
}
.popup-input:focus {
  outline: none;
}
.right-content a:link,
.right-content a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  background-color: $black;
  border: 1px solid $gray2;
  font-weight: 700;
  transition: 300ms;
  color: $white;
}
.right-content a:hover {
  background-color: $green;
  border: 1px solid $gray2;
  color: $black;
}

@media only screen and (max-width: 1200px) {
  .right-content {
    width: 100%;
  }
  .right-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.4rem;
  }
}
@media only screen and (max-width: 996px) {
  .popup-right {
    width: 100%;
  }
  .popup-left {
    display: none;
  }
  .right-content h1 {
    font-size: 4rem;
  }
  .right-content h1 {
    font-size: 4rem;
  }
  .right-content p {
    font-size: 1.6rem;
  }
  .popup-input {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (max-width: 567px) {
  .popup-right {
    padding: 0 1.6rem;
  }
  .popup-content {
    width: 90%;
    height: 40rem;
    margin: 0 auto;
  }
  .right-content {
    width: 100%;
  }
  .right-content h1 {
    font-size: 3rem;
  }
  .right-content p {
    font-size: 1.6rem;
  }
  .popup-input {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }
  .right-content a:link,
  .right-content a:visited {
    padding: 1.5rem 3rem;
  }
  .popup-close {
    top: 1rem;
    right: 1rem;
    padding: 1.3rem;
  }
}
/* Footer*/
.footer {
  background-color: $black;
  padding: 6rem 1rem;
  line-height: 3rem;
}
.footer-center span {
  margin-right: 1rem;
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: $white;
}
.footer-center a:link,
.footer-center a:visited {
  display: block;
  color: $gray2;
  font-size: 1.4rem;
  transition: 600ms;
}
.footer-center a:hover {
  color: $pink;
}
.footer-center div {
  color: $gray2;
  font-size: 1.4rem;
}
.footer-center h3 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
@media only screen and (max-width: 998px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}
@media only screen and (max-width: 768px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}
